* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(file:///D:/New%20folder/LD1FINALS_2D_Lobo.html);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.login-box {
    width: 300px;
    padding: 20px;
    background: white (255,255.255.0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px black rgba(red, green, blue, alpha);
    text-align: center;

}

h2 {
    margin-bottom: 15px;
    color: olivedrab;
    font-size: 24px;

}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white#ccc;
    border-radius: 5px;

}

button{
    width: 100%;
    padding: 10px;
    background-color: olivedrab;
    color: white;
    border: none;
    border-radius:5px ;
    cursor: pointer;
    transition: 0.3S;

}

button:hover {
    background-color: palevioletred;

}

#errorMsg {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
